.cols {
    justify-content: center;
    text-align: center;
}

.grafico {
    margin: auto;
    margin-top: 7%;
    width: 20rem;
    height: 15rem;

}

.grafico2 {
    margin: auto;
    margin-top: 7%;
    width: 20em;
    height: 15em;
}

.torta {
    margin: auto;
    margin-top: 15%;
    width: 100vw;
    height: 50vh;
    min-height: 350px;
}

@media (min-width: 850px) {
    .cols {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        overflow: hidden;
        background-color: #333;
    }

    .menu button {
        float: left;
        display: block;
        color: #f2f2f2;
        background-color: transparent;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
    }

    .menu button.icon{
        display: none;
    }

    .menu button:hover {
        background-color: #ddd;
        color: black;
    }

    /* Nuevo color cuando se presiona o se le da foco */
    button:active,
    button:focus {
        background-color: #04AA6D;
    }

    button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .grafico {
        margin-top: 1.2em;
        padding: 2%;
        width: 35rem;
        height: 15rem;
    }

    .grafico2 {
        margin-top: 0.3em;
        padding: 1%;
        width: 25rem;
        height: 15em;
    }

    .radar {
        margin-top: 0.3em;
        width: 25em;
        height: 18em;
        padding-left: 5%;
    }
}

/* Estilos para pantallas más pequeñas (móviles) */
@media screen and (max-width: 850px) {
    .menu {
        display: flex;
        align-items: center;
        background-color: #E4FCFB;
        top: 0%;
        transition: right 1s;
        position: fixed;
        z-index: 3;
    }

    .menu button {
        display: none;
    }

    .menu button.icon {
        color: #333;
        background-color: transparent;
        border: none;
        padding: 12px 16px;
        margin-top: 5%;
        display: block;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .menu button.icon:hover {
        background-color: #555;
        color: #ddd;
    }

    /* Cambio para mostrar botones verticalmente */
    .menu.responsive {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .menu.responsive button:not(.icon) {
        display: block;
        width: 100%;
        text-align: left;
        background-color: transparent;
        color: #555;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 8%;
    }

    .menu.responsive button:focus:not(.icon) {
        background-color: #04AA6D;
    }

    button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}